{% extends "layout.html" %}

{% block title %}
AniTweet
{% endblock %}

{% block content  %}
<div class="card p-4 mt-4">
  <h1 class="text-center  mt-4">
    Welcome to AniTweet
  </h1>

<h2 class="items-center"> {% if form.instance.pk %} Edit tweet
    {% else %} 
    <h2 class="mt-2">Create tweet</h2>
    {% endif %}
    <form method="POST" enctype="multipart/form-data"
    class ="form mt-2">
    {% csrf_token %}
    {{form.as_p}}
   <button class="btn btn-warning" type="submit">Submit</button>
   <a href="{% url "Tweet_list" %}">Back to tweet</a>
</h2>
</div>
{% endblock %}